<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>Editor</display-name>
    <servlet>
        <servlet-name>serviceServlet</servlet-name>
        <servlet-class>com.armyeditor.fractioneditor.server.service</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>serviceServlet</servlet-name>
        <url-pattern>/com.armyeditor.fractioneditor.Base/Service</url-pattern>
    </servlet-mapping>

     <servlet>
        <servlet-name>baseserviceServlet</servlet-name>
        <servlet-class>com.armyeditor.fractioneditor.server.BaseServiceBean</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>baseserviceServlet</servlet-name>
        <url-pattern>/com.armyeditor.fractioneditor.Main/BaseServiceBean</url-pattern>
        <url-pattern>/com.armyeditor.fractioneditor.Base/BaseServiceBean</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>welcomeGWT.html</welcome-file>
    </welcome-file-list>
</web-app>
